# Short domain availability tracking

This is a fun little project that allows you to check what domains are and aren't registered.

:sparkles: Here are some fun stats for this project.

|Stat|Value|
|--|--|
|TLDs tracked|%(tlds_tracked)s|
|Domains tracked|%(domains_tracked)s|
|Available 2L domains|%(available_domains_2l)s|
|2L registration rate|%(registration_rate_2l)s|


## View our data
%(data_formatted)s
